<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cobalt.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cobalt.Core.Properties.Settings>
            <setting name="SerialPortName" serializeAs="String">
                <value>com1</value>
            </setting>
            <setting name="SerialPortBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
        </Cobalt.Core.Properties.Settings>
    </applicationSettings>
</configuration>